.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;

  & input,
  & textarea {
    width: 100%;
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
    line-height: 1;
    color: rgba(var(--dark-blue));
    background-color: rgba(var(--light-grey));
    outline: 0;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--dark-grey), 0.3);

    &:active,
    &:focus {
      border: 1px solid rgba(var(--blue));
    }
  }

  & textarea {
    line-height: 1.25;
  }
}

.form-labels {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.2rem;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & label {
      font-size: 1.4rem;
      letter-spacing: -0.19px;
      font-weight: 700;
      color: rgba(var(--dark-blue));
      line-height: 1;
    }

    & p {
      font-size: 1.4rem;
      color: rgba(var(--dark-grey));
      line-height: 1.25;
    }
  }

  & span {
    line-height: 1;
    font-size: 1.4rem;
    color: rgba(var(--error));
  }
}

input.border-error,
textarea.border-error {
  border: 1px solidrgba(var(--error));
}

.input-field {
  position: relative;
  width: 100%;

  & svg {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: auto;
    cursor: pointer;

    & path {
      fill: rgba(var(--dark-grey));
      transition: all 0.3s ease-in-out;
    }

    &:hover path {
      fill: rgba(var(--dark-blue));
    }
  }
}
