@use '../../styles/mixins.scss' as mixins;

.categories {
  padding: 2.4rem;
  border-radius: 1rem;
  background-color: rgba(var(--white));

  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;

  @include mixins.respond(tablet) {
    align-items: flex-start;
  }
}

.active {
  background-color: rgba(var(--blue));
  color: rgba(var(--white));
}
